@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:500);
.t-medium {
  font-weight: 500;
}

.t-sbold {
  font-weight: 600;
}

.t-ebold {
  font-weight: 800;
}

.t-xxl {
  font-size: 4.5rem;
}

.t-xl {
  font-size: 3.5rem;
}

.t-lg {
  font-size: 2.75rem;
}

.t-md {
  font-size: 2.25rem;
}

.t-sm {
  font-size: 1.5rem;
}

.t-xs {
  font-size: 1.25rem;
}

.t-xxs {
  font-size: 1.125rem;
}

@media only screen and (max-width: 48rem) {
  .t-xxl {
    font-size: 2.5rem;
  }
  .t-xl {
    font-size: 2rem;
  }
  .t-lg {
    font-size: 1.75rem;
  }
  .t-md {
    font-size: 1.5rem;
  }
  .t-sm {
    font-size: 1.25rem;
  }
  .t-xs {
    font-size: 1.125rem;
  }
  .t-xxs {
    font-size: 1rem;
  }
}
* {
  font-weight: 400;
  color: #1d4862;
  font-family: "Red Hat Display";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.btn {
  font-family: "inter";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 44px;
  height: 36px;
  background: #a7deff;
  border-radius: 4px;
  font-size: 1.375rem;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #7fccff;
}

.btn-l {
  font-family: "inter";
  cursor: pointer;
  display: inline-flex;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 0px 64px;
  height: 46px;
  background: #a7deff;
  border-radius: 4px;
  font-size: 1.625rem;
}
.btn-l:hover {
  background-color: #7fccff;
}

@media only screen and (max-width: 48rem) {
  .btn {
    padding: 0px 24px;
    font-size: 1.25rem;
  }
  .btn-l {
    padding: 0px 44px;
    font-size: 1.5rem;
  }
}
.line {
  height: 3px;
  width: 100%;
  max-width: 600px;
  background-color: #38a9ed;
  border-radius: 4px;
}

.line-thin {
  height: 1px;
  width: 100%;
  max-width: 600px;
  background-color: #38a9ed;
  border-radius: 4px;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  padding-top: 76px;
}
.wrapper ._container {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.wrapper .header {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #edf6f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper .header .content {
  display: flex;
  justify-content: space-between;
}
.wrapper .header .content .logo .logofull {
  width: 212px;
}
.wrapper .header .content .logo .logosmall {
  display: none;
}
.wrapper .header .content .actions {
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  row-gap: 0.5rem;
  align-items: center;
}
@media only screen and (max-width: 48rem) {
  .wrapper .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .wrapper .header .content .logo .logofull {
    display: none;
  }
  .wrapper .header .content .logo .logosmall {
    display: block;
  }
  .wrapper .header .content .actions {
    gap: 1rem;
  }
  .wrapper .header .content .actions .num {
    font-size: 16px;
  }
}
.wrapper .footer {
  width: 100%;
  background-color: #081923;
}
.wrapper .footer .content {
  padding-top: 44px;
  padding-bottom: 24px;
}
.wrapper .footer .content .logo {
  margin-bottom: 12px;
}
.wrapper .footer .content .logo .logofull {
  width: 212px;
}
.wrapper .footer .content .logo .logosmall {
  display: none;
}
.wrapper .footer .content .links {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  row-gap: 0.5rem;
}
.wrapper .footer .content .links a {
  color: #a6e0ff;
  text-decoration: underline;
}
.wrapper .footer .content .copy {
  font-size: 0.875rem;
  color: #ffffff;
}
.wrapper .section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.wrapper .section .content {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}
.wrapper .section .content .title {
  width: 100%;
}
@media only screen and (max-width: 48rem) {
  .wrapper section {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
  }
  .wrapper section .content {
    gap: 1.5rem !important;
  }
}
.wrapper .section__hero {
  background-color: #081923;
  background-image: url(../img/heroimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
}
.wrapper .section__hero .content {
  text-align: center;
  z-index: 2;
  gap: 1.5rem;
  align-items: center;
}
.wrapper .section__hero .content h1 {
  background: linear-gradient(271.45deg, #38a9ed -0.01%, #a6e0ff 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: #38a9ed;
  line-height: 100%;
}
.wrapper .section__hero .content p {
  margin-bottom: 2rem;
  color: #edf6f9;
}
.wrapper .section__hero .content .btn-l {
  background-color: #38a9ed;
  color: #edf6f9;
}
.wrapper .section__services .content .block {
  display: flex;
  gap: clamp(24px, 4vw, 60px);
}
.wrapper .section__services .content .block .item {
  background-color: #edf6f9;
  padding: clamp(18px, 3vw, 36px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__services .content .block {
    flex-direction: column;
  }
}
.wrapper .section__help {
  background-color: #edf6f9;
}
.wrapper .section__help .content {
  align-items: center;
}
.wrapper .section__help .content .block {
  columns: 2;
  gap: 40px;
}
.wrapper .section__help .content .block .item {
  margin-bottom: 44px;
  max-width: 560px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .section__help .content .block .item .num {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  border: 3px solid #38a9ed;
  border-radius: 50px;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__help .content .block {
    columns: 1;
  }
  .wrapper .section__help .content .block .item {
    margin-bottom: 24px;
    max-width: none;
  }
  .wrapper .section__help .content .block .item .num {
    min-width: 40px;
    max-height: 40px;
    height: 4%;
  }
}
.wrapper .section__description .content .block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
}
.wrapper .section__description .content .block .item {
  display: flex;
  gap: 24px;
  align-items: center;
}
.wrapper .section__description .content .block .item img {
  width: 80px;
  height: 80px;
}
.wrapper .section__description .content .block .item .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper .section__description .content .block .item .info .line-thin {
  background-color: #a6e0ff;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__description .content .block {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 12px;
  }
  .wrapper .section__description .content .block .item {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
  }
  .wrapper .section__description .content .block .item img {
    width: 50px;
    height: 50px;
  }
  .wrapper .section__description .content .block .item .info {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper .section__description .content .block .item .info p {
    display: none;
  }
  .wrapper .section__description .content .block .item .info .line-thin {
    display: none;
    background-color: #a6e0ff;
  }
}
.wrapper .section__plan {
  background-color: #081923;
}
.wrapper .section__plan .content {
  align-items: center;
}
.wrapper .section__plan .content * {
  color: #a6e0ff;
}
.wrapper .section__plan .content table {
  width: 100%;
  border-radius: 4px !important;
  border: 1px solid #1d4862;
  border-collapse: collapse;
}
.wrapper .section__plan .content table tr {
  width: 100%;
  border-bottom: 1px solid #1d4862 !important;
  font-size: 1.125rem;
}
.wrapper .section__plan .content table tr td {
  height: 48px;
  width: 50%;
  padding: 4px 16px;
  text-align: left; /* Вирівнює текст по лівому краю */
}
.wrapper .section__plan .content table tr .td2 {
  border-left: 1px solid #1d4862;
}
.wrapper .section__plan .content .btn-l {
  color: #1d4862;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__plan .content table tr {
    width: 100%;
    font-size: 1rem;
  }
  .wrapper .section__plan .content table tr td {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
  }
}
.wrapper .section__reviews .content .block {
  display: flex;
  gap: clamp(18px, 3vw, 60px);
}
.wrapper .section__reviews .content .block .line-thin {
  background-color: #a6e0ff;
}
.wrapper .section__reviews .content .block .item {
  background-color: #edf6f9;
  padding: clamp(18px, 3vw, 36px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 640px;
}
.wrapper .section__reviews .content .block .item .item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .section__reviews .content .block .item .item__title .info {
  display: flex;
  gap: 12px;
  align-items: center;
}
.wrapper .section__reviews .content .block .item .item__title .info svg {
  width: 32px;
}
.wrapper .section__reviews .content .block .item .item__title .info .column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.wrapper .section__reviews .content .block .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(8px, 2vw, 24px);
}
.wrapper .section__reviews .content .block .grid .grid__item {
  min-width: 160px;
  align-items: center;
  background-color: #edf6f9;
  justify-content: center;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.wrapper .section__reviews .content .block .grid .grid__item img {
  object-fit: cover;
  height: 30px;
  width: 140px;
}
.wrapper .section__reviews .content .block .grid .grid__item .rating {
  text-align: center;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__reviews .content .block {
    display: flex;
    flex-direction: column;
  }
  .wrapper .section__reviews .content .block .item {
    max-width: none;
  }
}
.wrapper .section__about .subtitle {
  line-height: 50px;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__about .subtitle {
    font-size: 1.25rem !important;
    line-height: 28px;
  }
}
.wrapper .section__tac .block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrapper .section__tac .block .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .section__tac .block .item svg {
  width: 18px;
}
.wrapper .section__tac .block .item p {
  width: 100%;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__tac .block .item p {
    font-size: 16px;
  }
}
.wrapper .section__policy .block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrapper .section__policy .block .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .section__policy .block .item svg {
  width: 18px;
}
.wrapper .section__policy .block .item p {
  width: 100%;
}
@media only screen and (max-width: 48rem) {
  .wrapper .section__policy .block .item p {
    font-size: 16px;
  }
}
.wrapper .section__faqs .faqs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper .section__faqs .faqs-container .faqs-btn {
  width: 100%;
  background-color: #edf6f9;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .section__faqs .faqs-container .faqs-btn::after {
  content: "+"; /* Плюсик */
  color: #333;
  transition: transform 0.2s ease;
  transform: rotate(90deg);
  font-size: 24px;
}
.wrapper .section__faqs .faqs-container .faqs-btn.active::after {
  content: "−"; /* Мінус */
  transform: rotate(180deg);
}
.wrapper .section__faqs .faqs-container .faqs-block {
  border-top: 1px solid #a6e0ff;
  width: 100%;
  opacity: 0;
  display: none;
  padding: 16px;
  background-color: #edf6f9;
  line-height: 1.5;
  transition: 0.2s;
}
.wrapper .section__faqs .faqs-container .faqs-block.active {
  opacity: 1;
  display: block;
}

@media only screen and (max-width: 48rem) {
  .wrapper {
    padding-top: 65px;
  }
}