@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:500);

//colors
$pr1: #081923;
$pr2: #1d4862;
$pr3: #38a9ed;
$pr4: #a6e0ff;
$pr5: #edf6f9;
$pr6: #ffffff;

//weight
.t-medium {
  font-weight: 500;
}
.t-sbold {
  font-weight: 600;
}
.t-ebold {
  font-weight: 800;
}

// size
.t-xxl {
  font-size: 4.5rem;
}
.t-xl {
  font-size: 3.5rem;
}
.t-lg {
  font-size: 2.75rem;
}
.t-md {
  font-size: 2.25rem;
}
.t-sm {
  font-size: 1.5rem;
}
.t-xs {
  font-size: 1.25rem;
}
.t-xxs {
  font-size: 1.125rem;
}
@media only screen and (max-width: 48rem) {
  .t-xxl {
    font-size: 2.5rem;
  }
  .t-xl {
    font-size: 2rem;
  }
  .t-lg {
    font-size: 1.75rem;
  }
  .t-md {
    font-size: 1.5rem;
  }
  .t-sm {
    font-size: 1.25rem;
  }
  .t-xs {
    font-size: 1.125rem;
  }
  .t-xxs {
    font-size: 1rem;
  }
}

* {
  font-weight: 400;
  color: $pr2;
  font-family: "Red Hat Display";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.btn {
  font-family: "inter";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 44px;
  height: 36px;
  background: #a7deff;
  border-radius: 4px;
  font-size: 1.375rem;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: #7fccff;
  }
}
.btn-l {
  font-family: "inter";
  cursor: pointer;
  display: inline-flex;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 0px 64px;
  height: 46px;
  background: #a7deff;
  border-radius: 4px;
  font-size: 1.625rem;
  &:hover {
    background-color: #7fccff;
  }
}
@media only screen and (max-width: 48rem) {
  .btn {
    padding: 0px 24px;
    font-size: 1.25rem;
  }
  .btn-l {
    padding: 0px 44px;
    font-size: 1.5rem;
  }
}

.line {
  height: 3px;
  width: 100%;
  max-width: 600px;
  background-color: $pr3;
  border-radius: 4px;
}
.line-thin {
  height: 1px;
  width: 100%;
  max-width: 600px;
  background-color: $pr3;
  border-radius: 4px;
}
.wrapper {
  overflow-x: hidden;
  position: relative;
  padding-top: 76px;
  ._container {
    max-width: 78.75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
  .header {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $pr5;
    padding-top: 20px;
    padding-bottom: 20px;
    .content {
      display: flex;
      justify-content: space-between;
      .logo {
        .logofull {
          width: 212px;
        }
        .logosmall {
          display: none;
        }
      }
      .actions {
        flex-wrap: wrap;
        display: flex;
        gap: 2rem;
        row-gap: 0.5rem;
        align-items: center;
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .header {
      padding-top: 16px;
      padding-bottom: 16px;
      .content {
        .logo {
          .logofull {
            display: none;
          }
          .logosmall {
            display: block;
          }
        }
        .actions {
          .num {
            font-size: 16px;
          }
          gap: 1rem;
        }
      }
    }
  }
  .footer {
    width: 100%;
    background-color: $pr1;
    .content {
      padding-top: 44px;
      padding-bottom: 24px;
      .logo {
        margin-bottom: 12px;
        .logofull {
          width: 212px;
        }
        .logosmall {
          display: none;
        }
      }
      .links {
        margin-bottom: 44px;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        row-gap: 0.5rem;
        & a {
          color: $pr4;
          text-decoration: underline;
        }
      }
      .copy {
        font-size: 0.875rem;
        color: $pr6;
      }
    }
  }
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
    .content {
      display: flex;
      flex-direction: column;
      gap: 2.75rem;
      .title {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    section {
      padding-top: 44px !important;
      padding-bottom: 44px !important;
      .content {
        gap: 1.5rem !important;
      }
    }
  }
  .section__hero {
    background-color: $pr1;
    background-image: url(../img/heroimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
    .content {
      text-align: center;
      z-index: 2;
      gap: 1.5rem;
      align-items: center;
      h1 {
        background: linear-gradient(271.45deg, #38a9ed -0.01%, #a6e0ff 100.01%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        color: $pr3;
        line-height: 100%;
      }
      p {
        margin-bottom: 2rem;
        color: $pr5;
      }
      .btn-l {
        background-color: $pr3;
        color: $pr5;
      }
    }
  }
  .section__services {
    .content {
      .block {
        display: flex;
        gap: clamp(24px, 4vw, 60px);
        .item {
          background-color: $pr5;
          padding: clamp(18px, 3vw, 36px);
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .section__services {
      .content {
        .block {
          flex-direction: column;
        }
      }
    }
  }
  .section__help {
    background-color: $pr5;
    .content {
      align-items: center;
      .block {
        columns: 2;
        gap: 40px;
        .item {
          margin-bottom: 44px;
          max-width: 560px;
          display: flex;
          align-items: center;
          gap: 1rem;
          .num {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            height: 60px;
            border: 3px solid $pr3;
            border-radius: 50px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .section__help {
      .content {
        .block {
          columns: 1;
          .item {
            margin-bottom: 24px;
            max-width: none;
            .num {
              min-width: 40px;
              max-height: 40px;
              height: 4%;
            }
          }
        }
      }
    }
  }
  .section__description {
    .content {
      .block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 44px;
        .item {
          display: flex;
          gap: 24px;
          align-items: center;
          img {
            width: 80px;
            height: 80px;
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .line-thin {
              background-color: $pr4;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .section__description {
      .content {
        .block {
          grid-template-columns: repeat(2, 1fr);
          gap: 24px 12px;
          .item {
            flex-direction: column;
            gap: 12px;
            align-items: center;
            text-align: center;
            img {
              width: 50px;
              height: 50px;
            }
            .info {
              height: 100%;
              display: flex;
              flex-direction: column;
              p {
                display: none;
              }
              .line-thin {
                display: none;
                background-color: $pr4;
              }
            }
          }
        }
      }
    }
  }
  .section__plan {
    background-color: $pr1;
    .content {
      align-items: center;
      & * {
        color: $pr4;
      }
      table {
        width: 100%;
        border-radius: 4px !important;
        border: 1px solid $pr2;
        border-collapse: collapse;
        tr {
          width: 100%;
          border-bottom: 1px solid $pr2 !important;
          font-size: 1.125rem;
          td {
            height: 48px;
            width: 50%;
            padding: 4px 16px;
            text-align: left; /* Вирівнює текст по лівому краю */
          }
          .td2 {
            border-left: 1px solid $pr2;
          }
        }
      }
      .btn-l {
        color: $pr2;
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .section__plan {
      .content {
        table {
          tr {
            width: 100%;
            font-size: 1rem;
            td {
              width: 100%;
              height: 40px;
              padding: 8px 16px;
            }
          }
        }
      }
    }
  }
  .section__reviews {
    .content {
      .block {
        display: flex;
        gap: clamp(18px, 3vw, 60px);
        .line-thin {
          background-color: $pr4;
        }
        .item {
          background-color: $pr5;
          padding: clamp(18px, 3vw, 36px);
          display: flex;
          flex-direction: column;
          gap: 24px;
          max-width: 640px;
          .item__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .info {
              display: flex;
              gap: 12px;
              align-items: center;
              svg {
                width: 32px;
              }
              .column {
                display: flex;
                flex-direction: column;
                gap: 0px;
              }
            }
          }
        }
        .grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: clamp(8px, 2vw, 24px);
          .grid__item {
            min-width: 160px;
            align-items: center;
            background-color: $pr5;
            justify-content: center;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            img {
              object-fit: cover;
              height: 30px;
              width: 140px;
            }
            .rating {
              text-align: center;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .section__reviews {
      .content {
        .block {
          display: flex;
          flex-direction: column;
          .item {
            max-width: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 48rem) {
  .wrapper {
    padding-top: 65px;
  }
}
